<mat-card>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <!-- Profile Photo Upload -->
    <div class="upload-container">
      <label for="fileInput">
        <img
          *ngIf="previewUrl; else placeholder"
          [src]="previewUrl"
          alt="Profile Photo"
          class="profile-photo"
        />
        <ng-template #placeholder>
          <img
            src="assets/images/default-pic-green.png"
            alt="Default Profile Photo"
            class="profile-photo placeholder-photo"
          />
        </ng-template>
      </label>
      <input
        id="fileInput"
        type="file"
        (change)="onFileSelected($event)"
        accept="image/*"
        hidden
      />
    </div>

    <!-- Biography -->
    <mat-form-field appearance="fill">
      <mat-label>Biography</mat-label>
      <textarea
        matInput
        formControlName="bio"
        placeholder="Tell us about yourself..."
      ></textarea>
    </mat-form-field>

    <!-- Country -->
    <mat-form-field appearance="fill">
      <mat-label>Country</mat-label>
      <mat-select formControlName="country">
        <mat-option
          *ngFor="let country of availableCountries"
          [value]="country"
        >
          {{ country }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Languages -->
    <mat-form-field appearance="fill">
      <mat-label>Languages</mat-label>
      <mat-select formControlName="languages" multiple>
        <mat-option
          *ngFor="let language of availableLanguages"
          [value]="language"
        >
          {{ language }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Hashtags -->
    <mat-label>Hashtags</mat-label>
    <mat-chip-grid #chipGrid>
      <mat-chip-option
        *ngFor="let hashtag of predefinedHashtags"
        [selected]="isHashtagSelected(hashtag.tag)"
        (click)="toggleHashtag(hashtag.tag)"
      >
        {{ hashtag.tag }}
      </mat-chip-option>
      <mat-chip
        *ngFor="let customTag of customHashtags"
        [removable]="true"
        (removed)="removeCustomHashtag(customTag)"
      >
        {{ customTag }}
        <button matChipRemove></button>
      </mat-chip>
      <mat-form-field class="custom-input">
        <input
          matInput
          placeholder="Add custom hashtag"
          [matChipInputFor]="chipGrid"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="addCustomHashtag($event)"
          class="custom-hashtag-input"
        />
      </mat-form-field>
    </mat-chip-grid>

    <!-- Submit Button -->
    <button
      class="submit-button"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!profileForm.valid"
    >
      Save Profile
    </button>
  </form>
</mat-card>
