@import "../../../styles/colors";
@import "../../../styles.scss";

// Mat-card styling for consistent appearance
mat-card {
  width: 80%;
  margin: 5rem auto;
  padding: 2rem;
  background: none;
  box-shadow: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  mat-form-field {
    width: 100%;
    color: white;
  }

  .submit-button {
    align-self: flex-start;
    padding: 0.8rem 1.5rem;
    border-radius: 4px;
    background-color: $action-color;
    color: white;
  }

  .error {
    color: red;
    font-size: 0.9rem;
    font-style: italic;
  }
}

// File upload container styling
.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  label {
    .profile-photo {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
      background-color: white;
    }

    .placeholder {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      background-color: white;
      font-size: 0.9rem;
    }
  }

  input[type="file"] {
    display: none;
  }
}

input[matInput] {
  display: inline-block;
  background-color: white;
  color: black;

  &::placeholder {
    color: rgba(0, 0, 0, 0.6); /* Set a visible placeholder color */
    opacity: 1; /* Ensure placeholder is not hidden */
  }
}

// ::ng-deep overrides for Material components
:host ::ng-deep {
  /* form appearance style */
  .mdc-text-field--filled {
    background-color: #ffffff00 !important;
    padding-left: 3px;

    /* input text */
    .mdc-text-field__input {
      color: rgb(255, 255, 255);
    }
  }
}

.mat-chip-option {
  color: white;

  &.mat-chip-selected {
    background-color: $action-color;
    color: rgb(168, 42, 42);
  }
}

// Custom chip grid styling
.mat-chip-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 1rem;

  mat-chip {
    font-size: 14px;
    padding: 0.5rem 1rem;
    line-height: 20px;

    button[matChipRemove] {
      color: white;
    }
  }

  mat-form-field {
    width: 100%;
    margin-top: 8px;

    input[matInput] {
      padding: 8px;
      color: white;

      &::placeholder {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
}

mat-mdc-chip-list-input {
  width: 100%;
  margin-top: 8px;

  input[matInput] {
    padding: 8px;
    color: white;
  }
}
