<div class="chat-container">
  <div class="messages">
    <div *ngFor="let message of messages$ | async">
      <div class="message">
        <div class="message-user">{{ message.user }}</div>
        <div class="message-text">{{ message.text }}</div>
        <div class="message-time">
          {{ message.timestamp.toDate() | date : "shortTime" }}
        </div>
      </div>
    </div>
  </div>

  <div class="message-input">
    <input type="text" [(ngModel)]="newMessage" placeholder="Type a message" />
    <button (click)="sendMessage()">Send</button>
  </div>
</div>
