@import "../../../styles/colors";
@import "../../../styles.scss";

.explore-container {
  padding: 2rem;

  h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: left;
  }

  .user-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 0px;
    margin-bottom: 2rem;

    /* Profile Container */
    .profile-container {
      display: flex;
      align-items: center;
      margin-bottom: -20px;
    }

    /* Profile Photo Container */
    .profile-photo-container {
      margin-right: 1rem;
      display: flex;
      justify-content: center;
    }

    /* Profile Photo Styling */
    .profile-photo {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
    }

    /* User Information Styling */
    .user-info {
      flex: 1;
      text-align: left;
    }

    mat-card-content {
      h3 {
        font-size: 1rem;
        margin: 0 0 0.5rem;
        font-weight: 300;
      }

      p {
        margin: 0.2rem 0;
        font-size: 0.9rem;
        font-weight: 300;
      }

      .hashtags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        .hashtag {
          background-color: #f3f3f3;
          border-radius: 16px;
          padding: 0.2rem 0.5rem;
          font-size: 0.8rem;
        }
      }
    }
  }

  .user-info-hashtag {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .user-card button {
    font-size: 16px;
    font-weight: 600;
    color: $neutral-black;
    background: none;
    border: none;
    box-shadow: none;
    text-align: left;
    display: inline-block;
    padding-top: 1rem;
  }
}
