@import "../../../../styles/colors";

mat-card {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
  box-shadow: none !important;
}

.profile-edit-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.mat-mdc-raised-button:not(:disabled) {
  background-color: $action-color;
  color: white;
  border: none;
}

button {
  font-size: 18px;
  padding: 12px 24px;
  width: 250px;
  min-height: 50px;
}

:host ::ng-deep {
  /* form appearance style */
  .mdc-text-field--filled {
    background-color: $neutraul-white !important;
    color: $primary-text-color !important;
  }
}

.matInput {
  margin-left: 10px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.header-title {
  margin-left: 20px;
}

.custom-hashtags-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  color: $primary-text-color;
}

mat-chip-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;

  .custom-input {
    margin-top: 10px;
  }

  .fallback-chip {
    background-color: $neutraul-white;
    color: $primary-text-color;
    font-size: 14px;
    border: none;
  }

  .custom-hashtag-input {
    flex: 1;

    &::placeholder {
      color: $primary-text-color !important;
    }
  }
}
