$primary-color: #07312a; // Icon and titles
$primary-text-color: #72a39e;

$action-color: #f79449; // Call to action buttons

$neutraul-white: #f7f7f7;
$neutral-black: #333333;

$background-color: #c7dddb;
$background-color-spots: #bcd8d6;
