<mat-card *ngIf="!loading && !error">
  <div class="profile-header">
    <mat-icon class="profile-pic">account_circle</mat-icon>

    <div class="profile-details">
      <div class="profile-item">
        <p>Travels</p>
        <span>{{ userProfile?.travels || 0 }}</span>
      </div>
      <div class="profile-item">
        <p>Meetups</p>
        <span>{{ userProfile?.meetups || 0 }}</span>
      </div>
    </div>
  </div>

  <div class="profile-info">
    <p>{{ userProfile?.name }}, {{ userProfile?.age }}</p>
    <p>{{ userProfile?.country }}</p>
    <p>{{ userProfile?.languages }}</p>
  </div>
  <div class="edit-button">
    <button
      mat-button
      class="styled-edit-button"
      (click)="navigateToEditProfile()"
    >
      Edit profile
    </button>
  </div>

  <p class="hashtag-title">Hashtags</p>
  <div class="hashtags-box">
    <div
      *ngFor="let hashtag of userProfile.hashtags"
      class="hashtag-item"
      [style.backgroundColor]="
        categoryColors[hashtag.category] || categoryColors['Default']
      "
    >
      #{{ hashtag.tag }}
    </div>
  </div>

  <p class="bio-title">Bio:</p>
  <div class="bio-box">{{ userProfile?.bio }}</div>

  <div class="action-buttons">
    <button mat-button class="styled-button">
      <mat-icon>pin_drop</mat-icon>Travel log
    </button>
    <button mat-button class="styled-button" (click)="navigateToSettings()">
      <mat-icon>settings</mat-icon>Settings
    </button>
  </div>
</mat-card>

<!-- Loading State -->
<div *ngIf="loading" class="loading-state">
  <p>Loading profile...</p>
</div>

<!-- Error State -->
<div *ngIf="error" class="error-state">
  <p>{{ error }}</p>
</div>
