<div class="hashtag-edit-container">
  <mat-form-field appearance="fill">
    <mat-label>Predefined Hashtags</mat-label>
    <mat-select multiple (selectionChange)="updatePredefinedHashtags($event)">
      <mat-option
        *ngFor="let hashtag of predefinedHashtags"
        [value]="hashtag.tag"
      >
        {{ hashtag.tag }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-chip-grid #chipGrid aria-label="Custom Hashtags">
    <mat-chip
      *ngFor="let customTag of customHashtags"
      [removable]="true"
      (removed)="removeCustomHashtag(customTag)"
    >
      {{ customTag }}
      <button matChipRemove></button>
    </mat-chip>
    <input
      matInput
      placeholder="Add custom hashtag"
      [matChipInputFor]="chipGrid"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="addCustomHashtag($event)"
      [(ngModel)]="inputHashtag"
    />
  </mat-chip-grid>
</div>
