<mat-card>
  <div class="logo-container">
    <img src="assets/images/TQLogo_nobg.png" alt="Logo" class="logo" />
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        formControlName="email"
        (input)="clearError()"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        (input)="clearError()"
      />
    </mat-form-field>
    <button
      mat-raised-button
      type="submit"
      [disabled]="form.invalid || isSubmitting"
    >
      Login
    </button>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  </form>

  <div class="register-redirect">
    <p>
      Not a member?
      <a (click)="redirectToRegister()" class="register-link"
        >Create an account</a
      >
    </p>
  </div>
</mat-card>
