// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import "./styles/colors";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

// Define the theme object
$travelquest-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($travelquest-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($travelquest-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($travelquest-theme);
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Noto Sans, "Noto Sans", sans-serif;
  background-color: $background-color !important;
  background-image: radial-gradient(
      circle,
      $background-color-spots 20%,
      transparent 20%
    ),
    radial-gradient(circle, $background-color-spots 20%, transparent 20%);

  background-size: 100px 120px 70px;
  background-position: 0 0, 60px 90px;
  background-repeat: repeat;
}

:root {
  --primary-font: "Noto Sans", sans-serif;
  --secondary-font: "Playwrite US Modern", serif;
}

h1,
h2 {
  font-family: var(--secondary-font);
}

mat-card {
  background: none;
  box-shadow: none;
}

// ::ng-deep overrides for Material components
:host ::ng-deep {
  /* form appearance style */
  .mdc-text-field--filled {
    background-color: #ffffff00 !important;

    /* input text */
    .mdc-text-field__input {
      color: rgb(255, 255, 255);
    }
  }
}
