<!-- Map Container -->
<div id="map"></div>

<!-- Map Controls -->
<div class="map-controls">
  <input type="text" placeholder="Search location..." />
</div>

<!-- Action Buttons -->
<div class="button-container">
  <button class="round-button" (click)="findNearbyCoffeePlaces()">
    <mat-icon>local_cafe</mat-icon>
  </button>
  <button class="safety-tips-button" (click)="openSafetyTips()">
    <mat-icon>support</mat-icon>
  </button>
  <button class="drop-pin">
    <mat-icon>pin_drop</mat-icon>
    <p>Drop a pin</p>
  </button>
</div>

<!-- Location Details Panel (Initially Hidden) -->
<div class="location-details" *ngIf="isMenuOpen">
  <button class="close-button" (click)="isMenuOpen = false">×</button>
  <h2>{{ selectedLocation?.name }}</h2>
  <p>{{ selectedLocation?.address }}</p>
  <p><strong>Opening Hours:</strong> {{ selectedLocation?.openingHours }}</p>
  <div class="tags">
    <span *ngFor="let tag of selectedLocation?.tags">{{ tag }}</span>
  </div>
</div>

<!-- TODO add function to drop pin -->
