<div *ngIf="showNavbar" class="navbar">
  <button
    mat-icon-button
    class="navbar-item"
    [class.active]="isActiveRoute(['/home'])"
    (click)="navigateTo('/home')"
  >
    <mat-icon>home</mat-icon>
  </button>

  <button
    mat-icon-button
    class="navbar-item"
    [class.active]="isActiveRoute(['/explore', '/user:id'])"
    (click)="navigateTo('/explore')"
  >
    <mat-icon>tag</mat-icon>
  </button>
  <button
    mat-icon-button
    class="navbar-item"
    (click)="navigateTo('/map')"
    [class.active]="isActiveRoute(['/map'])"
  >
    <mat-icon>map</mat-icon>
  </button>

  <button
    mat-icon-button
    class="navbar-item"
    [class.active]="
      isActiveRoute(['/profile', '/profile-edit', '/settings', '/travellog'])
    "
    (click)="navigateTo('/profile')"
  >
    <mat-icon>person</mat-icon>
  </button>
</div>
