<div class="navbar">
  <button
    mat-icon-button
    class="navbar-item"
    [class.active]="isActiveRoute(['/profile', '/profile-edit', '/settings'])"
    (click)="navigateTo('/profile')"
  >
    <mat-icon>person</mat-icon>
  </button>

  <button
    mat-icon-button
    class="navbar-item"
    (click)="navigateTo('/tag')"
    routerLinkActive="active"
  >
    <mat-icon>tag</mat-icon>
  </button>
  <button
    mat-icon-button
    class="navbar-item"
    (click)="navigateTo('/map')"
    routerLinkActive="active"
  >
    <mat-icon>map</mat-icon>
  </button>
  <button
    mat-icon-button
    class="navbar-item"
    (click)="navigateTo('/mail')"
    routerLinkActive="active"
  >
    <mat-icon>mail</mat-icon>
  </button>
</div>
